In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
with open('One.txt') as mytext:
    a = mytext.read().lower().split()
    uniq_words_1 = set(a)
a

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [4]:
print(a)

['this', 'is', 'a', 'story', 'about', 'dogs', 'our', 'canine', 'pets', 'dogs', 'are', 'furry', 'animals']

In [11]:
uniq_words_1

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [5]:
with open('Two.txt') as mytext:
    b = mytext.read().lower().split()
    uniq_words_2 = set(b)
uniq_words_2

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [6]:
all_uniq_words = set()
all_uniq_words.update(uniq_words_1)
all_uniq_words.update(uniq_words_2)
all_uniq_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [7]:
vocab_dict =dict()
i =0
for word in all_uniq_words:
    vocab_dict[word]=i
    i = i + 1
vocab_dict

{'waves': 0,
 'water': 1,
 'catching': 2,
 'story': 3,
 'our': 4,
 'animals': 5,
 'popular': 6,
 'furry': 7,
 'about': 8,
 'is': 9,
 'surfing': 10,
 'pets': 11,
 'are': 12,
 'a': 13,
 'sport': 14,
 'canine': 15,
 'this': 16,
 'fun': 17,
 'dogs': 18}

In [9]:
one_freq = [0] * len(vocab_dict)
two_freq = [0] * len(vocab_dict)
all_word = [''] * len(vocab_dict)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [11]:
with open('One.txt') as mytext:
    a = mytext.read().lower().split()
for word in a:
    word_ind = vocab_dict[word]
    one_freq[word_ind] +=1
one_freq

[0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 2]

In [12]:
with open('Two.txt') as mytext:
    b = mytext.read().lower().split()
for word in b:
    word_ind = vocab_dict[word]
    two_freq[word_ind] +=1
two_freq

[1, 1, 1, 1, 0, 0, 1, 0, 1, 3, 2, 0, 0, 1, 1, 0, 1, 1, 0]

In [13]:
for word in vocab_dict:
    word_ind = vocab_dict[word]
    all_word[ word_ind] = word
all_word

['waves',
 'water',
 'catching',
 'story',
 'our',
 'animals',
 'popular',
 'furry',
 'about',
 'is',
 'surfing',
 'pets',
 'are',
 'a',
 'sport',
 'canine',
 'this',
 'fun',
 'dogs']

In [14]:
import pandas as pd 
df =pd.DataFrame(data = [one_freq,two_freq],columns = all_word )
df.head()

,waves,water,catching,story,our,animals,popular,furry,about,is,surfing,pets,are,a,sport,canine,this,fun,dogs
0,0,0,0,1,1,1,0,1,1,1,0,1,1,1,0,1,1,0,2
1,1,1,1,1,0,0,1,0,1,3,2,0,0,1,1,0,1,1,0

In [20]:
text = ['This is a random line','Please help me line.','Can you move to another line?']
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer
cv = CountVectorizer(stop_words= 'english')
sparse_matrix = cv.fit_transform(text)
sparse_matrix.todense()

matrix([[0, 1, 1],
        [1, 1, 0],
        [0, 1, 0]], dtype=int64)

In [19]:
cv.vocabulary_

{'random': 2, 'line': 1, 'help': 0}

In [22]:
tfidf= TfidfTransformer()
tfidf.fit_transform(sparse_matrix)

<3x3 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer()
tfv_results = tfv.fit_transform(text)

In [24]:
tfv_results

<3x12 sparse matrix of type '<class 'numpy.float64'>'
	with 14 stored elements in Compressed Sparse Row format>